:root {
  --color-green: #17966c;
  --color-light: #f5f5f5;
  --color-dark: #171717;
    overflow: auto;

}
.con{
clip-path: polygon(50% 0%, 100% 0, 100% 91%, 54% 91%, 49% 100%, 0 100%, 0 0);

  background: url("header1.jpg");
background-repeat : no-repeat;
background-size : cover;

}
#about{
clip-path: polygon(16% 8%, 21% 0, 100% 0, 100% 100%, 0 100%, 0% 60%, 0 8%);
}
#mainNav{
  z-index:4;
}
#comm{
clip-path: polygon(0 8%, 10% 8%, 15% 0%, 85% 0%, 88% 8%, 100% 8%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);

}

.header{
    z-index: 1;
    position: absolute;
    top:50%;
    height: 100px;
    margin-top: -50px;
    margin-left: 70px;
}
.header1{
    color: rgba(255, 255, 255, 0.6);

    z-index: 1;
    font-size: 70px;
font-family: 'Lato', sans-serif;
}

.header-dark{
      padding: 80px;
    color: #222;
    font-weight: 900;
    z-index: 1;
    font-size: 50px;
}
.header-dark-2 {
        padding: 30px;
    color: #222;
    font-weight: 600;
    z-index: 1;
    font-size: 30px;
}

.light {
    background-color: var(--color-light);
}
h2{
    font-weight:900px;
}

@media ( max-width: 840px ) {

h2{
    font-size:38px;

  }
}

@media ( max-width: 680px ) {

h2{
    font-size:30px;

  }
}

@media (min-width: 992px) {
			.navbar {
				background-color: rgba(0,0,0,0) ; /* black fully transparent */
				
			}  
		}

 

header {
  padding: 366px 0 300px;

}

section {
  padding: 156px 0 150px;

}


b{
  font-family: 'Open Sans', sans-serif;

}

.text-1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
}

.text-2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  color:#000000;
}

.text-3{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 45px;
  color:#000000;
}

.text-4{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 35px;
  color:#000000;
}

.text-5{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  color:#000000;
}

.btn-1{
  margin-top:50px;
}

.bg-black{
  background-color:#000;
}